.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8a2b06;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  
  .cart-item h2 {
    margin: 0 0 0.5rem 0;
    color: #363636;
  }
  
  .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: .8rem;
    margin-top: 0;
    font-weight: bold;
  }
  
  .price {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  
  .amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #363636;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .actions {
      flex-direction: row;
    }
  }
  .buttonCont {
    display: flex;
    justify-content: flex-end;
  }
  .buttonCont button {
    font-size: 0.8rem;
    color:  #8a2b06;
    border: 1px solid #8a2b06;
    text-align: center;
    border-radius: 50px;
    width: 17%;
    background-color: #8a2b06;;
    cursor: pointer;
    margin: 0.25rem;
    padding: 10px;
  }
  
  .buttonCont button:hover {
    background-color: #8a2b06;
    color: black
  }  